name: Deploy to Coolify
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Webhook
        run: |
          curl -X GET "${{ secrets.COOLIFY_WEBHOOK_URL }}"
